<a href="https://colab.research.google.com/github/kashaneja24/python_assignment/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
L=[11,12,13,14]
L.extend([50,60])
print(L)

[11, 12, 13, 14, 50, 60]

In [ ]:
L.remove(11)
L.remove(13)
print(L)

[12, 14, 50, 60]

In [ ]:
L.sort()
print(L)

[12, 14, 50, 60]

In [ ]:
L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

In [ ]:
print("is 13 present:",13 in L)

is 13 present: False

In [ ]:
print(len(L))

4

In [ ]:
print(sum(L))

136

In [ ]:
s=0
for i in L:
  if i%2!=0:
    s=s+i
print("sum of odd elements:",s)

sum of odd elements: 0

In [ ]:
s=0
for i in L:
  if i%2==0:
    s=s+i
print("sum of even elements:",s)

sum of even elements: 136

In [ ]:
n=L
s=0
for i in range(2,n+1):
  if i%n==0:
    break
  else:
    s=s+i
print("sum of prime elements:",s)

IndexError: list index out of range

In [ ]:
L.clear()
print(L)

[]

In [ ]:
d={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(d)
d[8]=8.8
print(d)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
del d[2]
print(d)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
print("is 6 is present or not:-", 6 in d)

is 6 is present or not:- False

In [ ]:
print(len(d))

5

In [ ]:
print(sum(d.values()))

37.4

In [ ]:
d[3]=7.1
print(d)
d.clear()
print(d)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}
{}

In [ ]:
S1=[10,20,30,40,50,60]
S2=[40,50,60,70,80,90]
S1.insert(6,55)
S1.insert(7,66)
print(S1)
S1.remove(10)
S1.remove(30)
print(S1)

[10, 20, 30, 40, 50, 60, 55, 66]
[20, 40, 50, 60, 55, 66]

In [ ]:
print("is 40 is present in S1 or not:-",40 in S1)

is 40 is present in S1 or not:- True

In [ ]:
s1=set(S1)
s2=set(S2)
print(s1.union(s2))
print(s1.intersection(s2))

{66, 70, 40, 80, 50, 20, 55, 90, 60}
{40, 50, 60}

In [ ]:
print(s1.difference(s2))

{66, 20, 55}

In [ ]:
import string as s
import random as r
n=100
min=6
max=8

In [ ]:
import random
import string

def generate_random_string(min_length, max_length):
    length = random.randint(min_length, max_length)
    return ''.join(random.choice(string.ascii_letters + string.digits) for _ in range(length))

for _ in range(100):
    random_string = generate_random_string(6, 8)
    print(random_string)

72Bx8Db
1Ub4hou
CtbmD0p
53wGU6
Xfb7fkSz
BIAsSK8v
MdDI4o
WzsIaV1s
4Q4X5Dr
bTa0m84h
i3LDdhg
p4hDg8Ll
80M8o11
Wc7I4Lv
EuCDi8O
KRNZPN
m7qZvk
86APGD
ceYmEof
FWQXWISW
NN8ZTS
WKcgwy
JcMRzaY
Wkq4Zy
bgadLMl
tWabTsDn
mt3o3Wcj
yf4IfaEb
DZRz3Ock
TjRRxM
gceoziAM
LWLQpPg
FtOYy3Wv
YPffHj
FM0B3KF
9vkeKpcG
v9iSFj
nyM3qdp
yFnYwwXO
ZBALYzSx
QfIaWC
1CKs1n
RmckKo
StoUBTG
gb6QJO4u
e8Fm90
H1tDPrX
AIRyLA
kbhhvl59
Dyic70lv
U7XYvZEy
glm23DC
gkw4TLG
ag9CWKYE
Gh1UWRXq
A9BKdl
I1NeyeN
ZNUipTR
wFiPHr
wHolSN
h6C7IF
Ab0h9H
7TkB8I
F4pQzch
cblBLx
Dx3XkT
CBumTIsG
TsmykG
nbNluKS0
BnYrHAF
kTDdOg1
SEbl1u0
Z65cD1A4
UsFPgSs
KWkYnt
uDVncVl
f3CGKB
fRdCEV
t7gia7
5UDNgWE
a8yB3w
edI49nd
fhGedU
KXoO3Xcx
kMlgZRjC
qp2nML8B
o6aEqGUZ
3tiFhxR
wvPoz4Oy
csSZsRO
W1mKyc
jE3x74C
TWFARu
dXjmEy2t
pZQTUjd
P71ptK
zl5YXNDe
n4AO9FRl
NUiuJhA
zfEoOee

In [ ]:
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1
lower=600
upper=800
for n in range(lower,upper+1):
  if IsPrime(n):
    print(n)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [ ]:
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [ ]:
import random as r

list1 = [r.randint(10, 30) for _ in range(10)]
list2 = [r.randint(10, 30) for _ in range(10)]

print("List 1:", list1)
print("List 2:", list2)

common_numbers = list(set(list1) & set(list2))
print("Common numbers:", common_numbers)

List 1: [20, 24, 23, 22, 20, 22, 10, 10, 30, 11]
List 2: [23, 26, 17, 27, 17, 14, 30, 26, 10, 21]
Common numbers: [10, 30, 23]

In [ ]:
unique_in_list1 = list(set(list1) - set(list2))
unique_in_list2 = list(set(list2) - set(list1))
all_unique_elements = unique_in_list1 + unique_in_list2
print("All unique elements:", all_unique_elements)

All unique elements: [24, 11, 20, 22, 14, 17, 21, 26, 27]

In [ ]:
print("List 1 - Minimum:", min(list1))
print("List 1 - Maximum:", max(list1))
print("List 2 - Minimum:", min(list2))
print("List 2 - Maximum:", max(list2))
all_numbers = list1 + list2
print("Minimum in both lists:", min(all_numbers))
print("Maximum in both lists:", max(all_numbers))

List 1 - Minimum: 10
List 1 - Maximum: 30
List 2 - Minimum: 10
List 2 - Maximum: 30
Minimum in both lists: 10
Maximum in both lists: 30

In [ ]:
sum_list1 = sum(list1)
print("Sum of List 1:", sum_list1)
sum_list2 = sum(list2)
print("Sum of List 2:", sum_list2)
total_sum = sum_list1 + sum_list2
print("Total sum of both lists:", total_sum)

Sum of List 1: 192
Sum of List 2: 211
Total sum of both lists: 403

In [ ]:
random_l=[random.randint(100,900) for i in range(100)]
odd_count=0
odd_numbers=[]  #empty list to store odd numbers
for n in random_l:
  if n%2!=0:
    odd_count+=1
    odd_numbers.append(n)
print(odd_count)
print(odd_numbers)

46
[309, 347, 367, 813, 869, 205, 237, 399, 783, 477, 743, 315, 471, 473, 393, 189, 469, 615, 675, 265, 673, 539, 697, 791, 221, 107, 649, 703, 895, 205, 611, 275, 335, 625, 191, 489, 261, 125, 889, 593, 711, 529, 781, 673, 191, 145]

In [ ]:
even_count=0
even_numbers=[]  #empty list to store even numbers
for n in random_l:
  if n%2==0:
    even_count+=1
    even_numbers.append(n)
print(even_count)
print(even_numbers)

54
[474, 554, 348, 464, 864, 336, 198, 174, 338, 484, 484, 484, 718, 458, 734, 196, 480, 636, 676, 198, 202, 156, 138, 534, 116, 156, 732, 630, 512, 574, 242, 376, 546, 548, 314, 862, 522, 142, 114, 560, 398, 346, 586, 170, 372, 540, 866, 538, 836, 494, 384, 134, 138, 650]

In [ ]:
prime_count=0
prime_numbers=[]
for n in random_l:
  is_prime=True
  for i in range(2,n//2+1):
    if n%i==0:
      is_prime=False
      break
    if is_prime:
      prime_count+=1
    prime_numbers.append(n)
print(prime_count)
print(prime_numbers)

2102
[309, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 347, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 367, 813, 869, 869, 869, 869, 869, 869, 869, 869, 869, 205, 205, 205, 237, 399, 783, 477, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 743, 315, 471, 473, 473, 473, 473, 473, 473, 473, 473, 473, 393, 189, 469, 469, 469, 469, 469, 615, 675, 265, 265, 265, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 539, 539, 539, 539, 539, 697, 697, 697, 697, 697, 697, 697, 697, 697, 697, 697, 697, 697, 697, 697, 791, 791, 791, 791, 791, 221, 221, 221, 221, 221, 221, 221, 221, 221, 221, 221, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 107, 649, 649, 649, 649, 649, 649, 649, 649, 649, 703, 703, 703, 703, 703, 703, 703, 703, 703, 703, 703, 703, 703, 703, 703, 703, 703, 895, 895, 895, 205, 205, 205, 611, 611, 611, 611, 611, 611, 611, 611, 611, 611, 611, 275, 275, 275, 335, 335, 335, 625, 625, 625, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 489, 261, 125, 125, 125, 889, 889, 889, 889, 889, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 593, 711, 529, 529, 529, 529, 529, 529, 529, 529, 529, 529, 529, 529, 529, 529, 529, 529, 529, 529, 529, 529, 529, 781, 781, 781, 781, 781, 781, 781, 781, 781, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 673, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 191, 145, 145, 145]

In [2]:
d = {1: "one", 2: "two", 3: "three", 4: "four", 5: "five"}
print("The dictionary is:")
print(d)

# Print keys and values separately
print("\nKeys and values in the dictionary:")
for key, value in d.items():
    print(f"Key: {key}, Value: {value}")

The dictionary is:
{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

Keys and values in the dictionary:
Key: 1, Value: one
Key: 2, Value: two
Key: 3, Value: three
Key: 4, Value: four
Key: 5, Value: five

In [10]:
L = {"one", "two", "three", "four", "five"}
print("The original set is:")
print(L)

fp=open("list.txt","w")
print("\nLength of each element:")
for element in L:
    print(f"'{element}': {len(element)} characters")
    fp.write(f"{element},{len(element)}\n")

The original set is:
{'two', 'four', 'five', 'one', 'three'}

Length of each element:
'two': 3 characters
'four': 4 characters
'five': 4 characters
'one': 3 characters
'three': 5 characters

In [ ]:
import random as r
import string as s
n=100
min_length=10
max_length=15
letters=string.ascii_lowercase
fp=open("random_strings.txt","w")
for i in range(n):
  random_length=r.randint(min_length,max_length)
  random_string=''.join(r.choice(letters) for i in range(random_length))
  fp.write(random_string+"\n")
print("100 random string written to the file")

100 random string written to the file

In [12]:
def Is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Generate prime numbers between 600 and 800
prime_numbers = [num for num in range(600, 801) if is_prime(num)]

# Write prime numbers to a file
with open('prime_numbers_600_to_800.txt', 'w') as file:
    for prime in prime_numbers:
        file.write(str(prime) + '\n')

print(f"Writing done !! \nOpen prime_numbers_600_to_800.txt to view the content ")
print(f"Total prime numbers found: {len(prime_numbers)}")

Writing done !!
Open prime_numbers_600_to_800.txt to view the content
Total prime numbers found: 30

In [11]:
import time

t1=time.time()

for i in range(100000):
  for i in range(100000):
    x=900

t2=time.time()
print("total time:",t2-t1)

total time: 654.9127969741821

In [13]:
from builtins import sum
student_marks = {
    'Tejay': [85, 90, 88, 92, 87],
    'Hiram': [78, 85, 80, 82, 75],
    'Shiteez': [90, 92, 95, 88, 85],
    'Shadab': [80, 75, 82, 88, 90],
    'Lovely': [85, 86, 89, 90, 82]
}

# Calculate average marks for each student
average_marks = {name: sum(marks) / len(marks) for name, marks in student_marks.items()}

# Find student with maximum average marks
max_avg_student = max(average_marks, key=average_marks.get)

# Find student with minimum average marks
min_avg_student = min(average_marks, key=average_marks.get)

print(f"Student with maximum average marks: {max_avg_student}, Average marks: {average_marks[max_avg_student]}")
print(f"Student with minimum average marks: {min_avg_student}, Average marks: {average_marks[min_avg_student]}")

Student with maximum average marks: Shiteez, Average marks: 90.0
Student with minimum average marks: Hiram, Average marks: 80.0